<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--
        加载spring容器,并初始化spring上下文监听
            必须使用<param-name>contextConfigLoction</param-name>此名称，
            否则那么spring的ContextLoderListener监听器就会在/WEB-INF/下去
            寻找并加载该目录下的名为applicationContext.xml这个文件
    -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/applicationContext-*.xml</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>





    <!--
    spring mvc处理流程：

        1、首先用户发送请求——>DispatcherServlet，前端控制器收到请求后自己不进行处理，
           而是委托给其他的解析器进行处理，作为统一访问点，进行全局的流程控制；

        2、DispatcherServlet——>HandlerMapping，
           HandlerMapping 将会把请求映射为 HandlerExecutionChain 对象
           （包含一个 Handler 处理器（页面控制器）对象、多个 HandlerInterceptor 拦截器）对象，
           通过这种策略模式，很容易添加新的映射策略；

        3、DispatcherServlet——>HandlerAdapter.Controller
           （HandlerAdapter 将会把Controller包装为适配器，HandlerAdapter 将会根据适配的结果调用真正的处理器的功能处理方法，
            完成功能处理）；

        4、  业务处理方法（Service）

        5、HandlerAdapter.Controller返回一个 ModelAndView 对象（包含模型数据、逻辑视图名）；

        6、ModelAndView 的逻辑视图名——> ViewResolver，
           ViewResolver 将把逻辑视图名解析为具体的 View，通过这种策略模式，很容易更换其他视图技术；

        7、View——>渲染，View 会根据传进来的 Model 模型数据进行渲染，
          此处的 Model 实际是一个 Map 数据结构，因此很容易支持其他视图技术；

        8、返回控制权给 DispatcherServlet，由 DispatcherServlet 返回响应给用户，到此一个流程结束。
-->


    <!--
        配置前端控制器
            1、是一个Servlet
            2、请求处理器映射器返回处理器执行链
    -->
    <servlet>
        <servlet-name>springMvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--
            如果不配置这个文件的话，那么默认加载/WEB-INF/servlet名称-servlet.xml
            如果使用maven的话必须使用<context-param>先加载一次文件
            参考：
            https://blog.csdn.net/wlwlwlwl015/article/details/48134763
        -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring/springMvc.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>springMvc</servlet-name>
        <!--
            第一种：
                *.action，访问以.action结尾的url，由DispatcherServlet进行解析
            第一种：
                /，所有访问的url，由DispatcherServlet进行解析，对于静态文件配置不让DispatcherServlet进行解析
                使用此种方式可以实现Restful风格的url
            第三种：
                /*,不对，因为使用这种配置最终将要转发一个jsp页面时仍然会由DispatcherServlet进行解析，
                        不能根据jsp页面找到handler，会报错
        -->
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>
</web-app>