<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
        配置modelAndView的handle
    -->
    <bean id="ModelAndViewController" name="/queryItems.do" class="com.mvc.controllers.ModelAndViewController"/>
    <!--
        处理器映射器：
            寻找Controller
            根据url请求去匹配bean的name属性url，从而获取handler/Controller

            BeanNameUrlHandlerMapping:
                表示将定义的Bean的Name作为请求的url，需要将编写的controller在spring容器中进行配置，
                且指定bean的name为请求的url，且必须以.action结尾。

    -->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>

    <!--
        处理器映射器：
            SimpleUrlHandlerMapping：
                该类是BeanNameUrlHandlerMapping的增强版本，它可以将url和处理器bean的id进行统一映射配置。
    -->
    <bean  class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/queryItems1.do">ModelAndViewController</prop>
            </props>
        </property>
    </bean>

    <!--
        处理器适配器:
            SimpleControllerHandlerAdapter:
                要求Handle实现Controller接口，并且适配执行Controller的handleRequest方法。
    -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>


    <!--
        视图解析器
            InternalResourceViewResolver：
                解析jsp，默认使用jstl标签，classpath下必须要有jstl的包
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
</beans>